{% extends 'layout.html' %}
{% block main_content %}

<div class="container-fluid">

    <h1>
        Schema Listing
    </h1>

    <div>
        <table class="table table-striped table-hover">
            <tr>
                <th>Schema name</th>
            </tr>
            {% for schema in schemas %}
            {{ schema }}
            <tr>
                <td>{{ schema['name'] }}
                </td>
            </tr>
            {% endfor %}
        </table>
        {{ schemas }}
    </div>

</div>

{% endblock main_content %}