
{% if session['system_objects'] %}
	<input type="checkbox" id="system_objects" name="system_objects"value="true" checked />
{% else %}
	<input type="checkbox" id="system_objects" name="system_objects"value="true" />
{% endif %}

<label for="system_objects">Display System Objects</label>
<br />

<script type="text/javascript">
$(document).ready(function() {
    //set initial state.
    $('#system_objects').val({{ session['system_objects_lower'] }});

    $('#system_objects').change(function() {
    	if(this.checked) {
            $(this).prop("checked", true);
        }
        else {
        	$(this).prop("checked", false);	
        }

    	$.getJSON($SCRIPT_ROOT + '/_toggle_system_objects', {
	      system_objects: this.checked
	    }, function(data) {
	    	document.location.reload();
	    });
    });
});
</script>
